@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato";
}

.container{
    max-width: 1280px;
    height: 100vh;
    background-color: #F5F8FA;
    padding: 12px 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #E0E6EA;
    padding-bottom: 20px;
}

.logo{
    width: 150px;
}
.logo img{
    width: 100%;
}

.nav a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #1D2C3C;
}
a:last-child{
    margin-right: 0;
}

.clk{
    border: 2px solid #646E7A;
    padding: 8px 17px;
    border-radius: 8px;
}

.main{
    position: relative; 
    display: flex; 
    align-items: center;
    
    flex-direction: column;
    margin: 1.5em auto;
   
}
.checkout{
    position: relative;
    width: 510px;
    height: 460px;
    background-color: white;
    box-shadow: 1px 1px 9px 1px rgba(0,0,0,0.11);
    border-radius: 3px;
} 

.section{
    padding: 17px 20px;
    border-bottom: 1.5px solid #F5F7FA;
    width: 65%;
}

.section:last-child{
    border-bottom: 0;
}

.check{
    padding: 2px 0;
}

h3{
    text-shadow: 0px 2px 1px rgba(0,0,0,0.17);
}

.numb-title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 10px;
}

.numb{
    /* display: flex !important; */
    color: #548BC5;
    font-weight: 700;
    font-size: 10px;
    border: 1.5px solid #548BC5;
    background: #FFFFFF;
    border-radius: 50%;
    padding: 2px 5px;
    margin-right: 10px;
}

form{
    font-size: 11px;
}

form .input-flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

form .input-flex .input-box{
    width: 48%;
}


form .input-flex .input-box input, 
form .input-email input, 
.input-card input{
    height: 20px;
    font-size: 9px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 3px;
    padding: 5px 8px;
    margin-top: 5px;
}

form .input-flex .input-box input, 
.input-card input{
    width: 100%;
}
form .input-email input{
    width: 75%;
}

.cd input{
    height: 30px;
    background-color: #038E7D;
    color: white;
    font-size: 12px;
}

.help{
    margin-top: 15px;
    font-size: 9px;
    text-align: center;
}

.circle{
    border-radius: 50%;
    border: 1.5px solid #548BC5;
    padding: 0.5px 4px;
    color: #548BC5;
    font-weight: 700;
    margin-right: 10px;
}

.bld{
    font-weight: 700;
}

.clr{
    color: #646E7A;
}

.line{
    text-decoration: underline;
}

.logoo{
    margin-top:20px;
    display: flex;
    justify-content: center;
}


.advert{
    position: absolute;
    top: 0;
    right: 0;
    background: #1179BF;
    border-radius: 0 3px 3px 0;
    width: 35%;
    height: 100%;
    padding: 20px 30px;
    color: white;
    font-size: 11px;
}

.advert .free{
    letter-spacing: 0.05em;
    font-weight: 700;
}

.price .big{
    font-size: 38px;
    font-weight: 300;
}

sup{
    font-size: 13px;
    font-weight: 400;
}

.year{
    font-size: 13px;
    margin-left: -5px;
}

.italic{
    font-style: italic;
    font-weight: 400;
    margin-right: 25px;
    margin-bottom: 27px;
}

.list{
    display: flex;
    font-weight: 500;
    font-size: 9px;
    word-spacing: 1px;
}

.space{
    margin-bottom: 13px;
} 

.bx{
    margin-right: 5px;
    margin-bottom: 11px;
    padding: 0.6px 1px;
    border: 1.5px solid #B9F5FF;
    border-radius: 50%;
    color: #B9F5FF;
}

.client{
    font-size: 10px;
    padding-bottom: 8px;
}

.agency{
    font-size: 10px;
    text-decoration: underline;
    padding-bottom: 20px;
    border-bottom: 1px solid #4194cc;
}

.ftp{
    font-size: 10px;
    padding-top: 20px;
    line-height: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.pic{
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.lest{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 9px;
    word-spacing: 1px;
}


.card-details{
    display: flex;
}
.card-details input:first-child{
    border-radius: 3px 0 0 3px;
}

.card-details input:last-child{
    border-radius: 0 3px 3px 0;
}

.card-details input:nth-child(2){
    border-radius: 0;
}

.card-details input:focus{
    outline: 0;
}

.num{
    width: 10px;
}


.para{
    margin-top: 10px;
    font-size: 11px;
}

.qq{
    color: #646E7A;
}

.ww{
    color:#31708F;
}